streamlit==0.76.0
pandas==1.2.4
numpy==1.20.2
pickleshare==0.7.4
spacy==2.1.8
flair==0.8.0.post1
textblob==0.15.3
nltk==3.4.4
matplotlib==3.3.2
seaborn==0.11.1
sklearn==0.0
scikit-learn==0.23.2
xlrd==1.2.0
tqdm==4.32.1
tornado==6.0.3
tokenizers==0.10.2
tables==3.5.2
setuptools-git==1.2
pyLDAvis==3.3.1
openpyxl==3.0.7
msgpack==0.5.6
gensim==3.8.3
pip==21.1.1