streamlit==0.76.0
pandas==1.2.4
numpy==1.20.2
spacy==2.1.8
scikit-learn==0.23.2
pyLDAvis==3.3.1
gensim==3.8.3
textblob==0.15.3
xlrd==1.2.0
tensorflow==1.15.0
keras==2.4.3
h5py==2.10.0
dill==0.2.9
imblearn==0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
